* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #0e0e10;
  color: #eee;
}

.container {
  width: 90%;
  margin: 24px auto;
}

.mb {
  margin-bottom: 20px;
}

.user_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.button_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.button {
  border: none;
  background-color: #07bde1;
  color: white;
  font-size: 20px;
  padding: 10px 8px;
  cursor: pointer;
  border-radius: 8px;
}

.button:hover {
  background-color: #077f96;
}

.table {
  width: 100%;
  margin-bottom: 24px;
  border-collapse: collapse;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 8px;
}

.table tr:nth-child(even) {
  background-color: #1a1a1a;
}

.table tr:hover {
  background-color: #353535;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #060135;
  color: white;
}
